body {
}

#spChartLegend {
width: 100%;
height: 35px;
/*background-color: white;*/
margin-left:27px;
padding-top: 17px;
margin-top: 20px;
margin-bottom: 7px;
}

#spChartLegend > div {
display:inline-block;
text-align:left;
}

.spLegend{
width:auto;
margin-right:20px;

}
.spIcon{
width:15px;
height:13px;
}

.spLegend > div{
float: left;
}

.spText {
font-family: Arial;
font-size: 9px;
font-weight: bold;
margin: 3px;
color: black;
}
#LinkForCharts {
width: 400px;
height: 25px;
/*border:1px solid black;*/
/*background-color:white;*/
margin-left: 904px;
margin-top: -26px;
}

#GroupedBarChartOne,#GroupedBarChartTwo,#GroupedBarChartthree,#ColumnChartOne,#ColumnChartTwo ,#LineChartOne,#LineChartTwo,.chart-type{
width: 12%;
height: 21px;
/*border: 1px solid grey;*/
float: left;
margin: 3px 3px 3px 8px;
left: 0;
cursor: pointer;
/*background-color: rgb(189, 16, 30);*/
border-radius: 5px;
color:  rgb(255,255,255);
}

.ExportToPPT
{
width: 12%;
height: 21px;
/*border: 1px solid grey;*/
float: left;
margin: 3px 3px 3px 8px;
left: 0;
cursor: pointer;
/*background-color: rgb(189, 16, 30);*/
border-radius: 5px;
color:  rgb(255,255,255);
background-image: url('../../Images/Coke Dine_Sprite_7.svg');
background-position:-811px -43px;
}


#TextForChart {
font-family: Arial;
font-size: 9px;
font-weight: bold;
margin: 3px;
color: white;
}

#ToShowChart {
width: 100%;
height:65%;
/*border:1px solid black;*/
/*background-color: white;*/
/*border-bottom: 1px solid grey;*/
}

/*@font-face {
font-family: contentFontFamily;
src: url('../Content/font/Oswald-Regular.ttf');
}*/

/*
.bar text {
fill: black;
font: 11px contentFontFamily;
text-anchor: middle;
}*/

/*.axis text {
font: 11px contentFontFamily;
}*/

/*.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}*/


/*
.dual {
fill: url(#sampleGradient);
}*/

/*.legend {
font: 12px contentFontFamily;
}*/
/*
.dualInverse {
fill: url(#sampleGradientNew);
opacity:0.5;
}
*/
/*
.shadow {
fill: url(#shadowGradient);
    
}*/

/*.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}
*/
body {
font: 10px sans-serif;
}

#chart-title{
width:100%;
height:20px;
clear:both;
color: black;
font-size: 13px;
font-weight: bold;
margin-left: 18px;
/*background-image: url('../../Images/Coke Dine_Sprite_7.svg');
background-position:548px -457px;*/
}

.showChartMain {
height: 96%;
width: 96%;
/*float: left;*/ 
overflow:auto;
margin:0 auto;
/*border:1px solid lightgrey;*/
/*margin-left: 2%;*/
/*overflow-y:auto;
overflow-x:auto;*/
}
.trendChartMain {
height:100%;
width:100%;
float:left;
display:none;
}
.tooltip {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
position: absolute;
display: block;
width: auto;
height: auto;
background: none repeat scroll 0 0 white;
border: 0 none;
border-radius: 8px 8px 8px 8px;
box-shadow: -3px 3px 15px #888888;
color: black;
font: 12px sans-serif;
padding: 5px;
text-align: center;
background:lightsteelblue;
}
.clsPointer
{
background-color:red;
}
.dual
{
background-color:yellow;
}
.toolimg1 {
             
width: 8px;
height: 7px;
display: inline-block;
}
.toolimg2 {
 
width: 8px;
height: 7px;
display: inline-block;
}
.exportchartlistpopup {
background-color: #E41E2A;
border-radius: 10px;
color: #FFFFFF;
display: none;
height: 170px;
left: 40%;
padding: 5px;
position: fixed;
top: 35%;
width: 370px;
z-index: 4000;
}

.ExportSelection {
background-color: #FFFFFF;
border-radius: 5px;
color: #0000FF;
height: 136px;
padding: 5px;
width: 360px;
overflow: auto;
}

.tableheader {
    table-layout:fixed;
    border-collapse:collapse;
}
.tableheader td{
  border:1px solid #e6e6e6;
  text-align:center;
  color:black;
}
.tablebody {
    table-layout:fixed;
    border-collapse:collapse;
}
.tablebody td{
  border:1px solid #e6e6e6;
  text-align:center;
}

