@{
    ViewBag.Title = "iSHOP :: ADD’L CAPABILITIES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Styles.Render("~/bundle/styles/addlcapabilities")
@System.Web.Optimization.Scripts.Render("~/bundle/scripts/addlcapabilities-EstablishmentDeepDive")
<input type="hidden" id="hdn-page" name="hdn-analysis-establishmentdeepdive" />
<div id="chart-title"></div>
<div id="chart-area">

</div>